body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0fff0; /* Light green background */
}

header {
    background-color: #32cd32; /* Lime green header background */
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #fff; /* White container background */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

h2 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #32cd32; /* Lime green button background */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #32cd32; /* Lime green footer background */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }
}
